.app-socials {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  &__link {
    position: relative;
    width: 34px;
    height: 34px;
    background-color: #ff003c;
    border-radius: 50%;

    svg {
      width: 15px;
      height: 15px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
